@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #293b5f;
  --secondary: #f5a623;
  --slate-text: #cbd5e1;
  --navy-light: #334155;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Code Pro', monospace;
}